<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.mymilkbottles.weixinqing.dao.UserMapper">

    <sql id="table_name">user_table</sql>

    <select id="isPasswordCorrect" resultType="boolean">
        select count(temp.result) != 0
        from
        (
        select (<include refid="table_name"/>.pwd = #{pwd}) result
        from
        <include refid="table_name"/>
        where #{id} =<include refid="table_name"/>.id and active = 1
        ) temp
        where temp.result = 1;
    </select>

</mapper>
