body {
    background-color: #b4daf0;
    background-image: url("/images/body_background.png");
    background-repeat: repeat-x;
    background-position: center 0;
}
.body-background {
    background: url("/images/body_bg_img.jpg") no-repeat top center;
}

.search-submit, .user-center, .glyphicon-envelope, .glyphicon-refresh, .glyphicon-cog {
    cursor: pointer;
    color: rgba(16, 38, 23, 0.67);
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fbfbfb;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .open {
    background-color: #fbfbfb;
}

.hasMsg {
    color: #fa7d3c;
}

.open, .hover {
    background-color: #fbfbfb;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fbfbfb;
    background-color: #fbfbfb;
}

.search-submit:hover, .user-center:hover, .glyphicon-envelope:hover, .glyphicon-cog:hover {
    color: black;
}

.label-default {
    /*float:left;*/

}

.msg-number {
    padding-top: -2px;
    padding-bottom: 2px;
}

.msg-ul1 > li > a, .msg-ul1 > li > span {

    float: left;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    clear: none;

}

.msg-ul > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* css3 让一个图片不断翻转示例代码 */
#msg-loading-icon {
    /* background:color url x y repeat 图片来自百度图片，按需要更换 */
    /*background:red url("https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2406548182,3889596045&fm=80") center no-repeat;*/
    /* background-size:auto auto || cover 代表以宽或高填满元素背景 */
    /*background-size:cover;*/
    /* 随便设置宽高值，测试 */
    /*width:200px;*/
    /*height:200px;*/
    /* 设置默认样式，开启3d硬件加速 */
    /*-webkit-transform:translate3d(0,0,0);*/
    /*-moz-transform:translate3d(0,0,0);*/
    /*transform:translate3d(0,0,0);*/

    transform-origin: 47% 50%;
    /* 设置动画，animation:动画名称
    动画播放时长单位秒或微秒
    动画播放的速度曲线linear为匀速
    动画播放次数infinite为循环播放; */
    -webkit-animation: play 2s linear infinite;
    -moz-animation: play 3s linear infinite;
    animation: play 1s linear infinite;
}

@-webkit-keyframes play {
    0% {
        /*-webkit-transform:rotateY(0deg);*/
        -webkit-transform: rotate(0deg);
        /*
        水平翻转

        -webkit-transform:rotateY(0deg);

        垂直翻转
        -webkit-transform:rotateX(0deg);
        顺时针旋转*/
        /*-webkit-transform:rotate(0deg);*/
        /*逆时针旋转
        -webkit-transform:rotate(0deg);
        */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /*-webkit-transform:rotate(360deg);*/
        /* 水平翻转
        -webkit-transform:rotateY(360deg);
        /* 垂直翻转
        -webkit-transform:rotateX(360deg);
        顺时针旋转
        -webkit-transform:rotate(360deg);
        逆时针旋转
        -webkit-transform:rotate(-360deg);
        */
    }
}

@-moz-keyframes play {
    0% {
        -moz-transform: rotate(0deg);
        /*-moz-transform:rotate(0deg);*/
        /*
        -moz-transform:rotateY(0deg);

        -moz-transform:rotateX(0deg);
        -moz-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        */
    }
    100% {
        -moz-transform: rotate(360deg);
        /*-moz-transform:rotate(360deg);*/
        /*
        -moz-transform:rotateY(360deg);

        -moz-transform:rotateX(360deg);
        -moz-transform:rotate(360deg);
        -moz-transform:rotate(-360deg);
        */
    }
}

@keyframes play {
    0% {
        transform: rotate(0deg);
        /*transform:rotateY(0deg);
        transform:rotateX(0deg);
        transform:rotate(0deg);
        transform:rotate(0deg);
        */
    }
    100% {
        /*transform:rotate(360deg);*/
        transform: rotate(360deg);
        /*transform:rotateY(360deg);
        transform:rotateX(360deg);
        transform:rotate(360deg);
        transform:rotate(-360deg);
        */
    }
}

