<div id="weibosDiv">

    <#list vos as vo>
        <#if vo ? is_first>
            <input type="hidden" value="${vo.id ? c}" id="firstData">
        </#if>

        <#if vo ? is_last>
            <input type="hidden" value="${vo.id ? c}" id="lastData">
        </#if>

        <div class="panel panel-default weibo"
             style="width: 84%;height: auto;float: right;margin-left: 1%;">
            <div class="panel-body" style="margin-bottom: 0px;padding-bottom: 3px;">

                <!-- UPVOTE (5)-->
                <#if vo.type == 5>

                    <div style="float: left; width:100%;
 border-bottom-style: solid;padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f5;">
                    <span style="color: #e46755; font-size: 18px; margin-right: 6px;float: left; "
                          class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span style="float: left;">${user.username}赞过的微博</span>
                    </div>

                    <!--FORWARD(4)-->
                    <#elseif vo.type == 4>
                        <div

                                style="padding-bottom: 5px;
              border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #f2f2f5;
          float: left; width:100%;margin-left: 1%;margin-bottom: 10px;">
                    <span
                            style="color: #e46755; font-size: 18px;margin-right: 6px;float: left;"
                            class="glyphicon glyphicon-share" aria-hidden="true"></span>
                            <span style="float: left;">${user.username}转发了微博</span>

                        </div>


                        <!--FORWARD_COMMENTS(7) COMMENT(3)-->
                        <#elseif vo.type == 7 || vo.type == 3>
                            <div style="float: left;width: 13%;height: auto;">
                                <img src="/headimg/${user.id?c}" alt="..." class="img-circle weiboHeadImg"
                                     style="width: 70px;height: 70px;">
                            </div>

                            <div style="float: right;width: 87%;">
                                <div style="float: left;width: 100%;">
                                    <strong style="font-size: 15px;float: left;"
                                            class="username">${user.username}</strong>
                                </div>
                                <span style="color: #808080;float: left; margin-top: 5px;
text-decoration: none;font-size: 12px;" class="datetime">${vo.comments.fTime?datetime}</span>
                            </div>


                            <p style="display:block;width:87%;height:auto;margin-top: 5px;float: right;
                          overflow:hidden; text-overflow:ellipsis;" class="weibo_content">${vo.comments.content}</p>
                </#if>


                <#if vo.type == 7 || vo.type == 3>
                    <div style="background-color: #f2f2f5;height: auto;width: 100%;float: left;margin: 0px;padding: 0px;">
                        <#else>
                            <div>
                </#if>


                <#if vo.type != 7 && vo.type != 3>
                    <div style="float: left;width: 13%;height: auto;margin: 0px;padding: 0px;">
                        <img src="/headimg/${vo.weibo.masterId ? c}" alt="..." class="img-circle weiboHeadImg"
                             style="width: 70px;height: 70px;">
                    </div>
                </#if>

                <div style="float: right;width: 87%;margin: 0px;padding: 0px;">
                    <div style="float: left;width: 100%;">
                        <strong style="font-size: 15px;float: left;"
                                class="username">
                            <#if vo.type == 7 || vo.type == 3>@</#if>
                            ${vo.user.username}</strong>
                    </div>
                    <span style="color: #808080;float: left; margin-top: 5px;
        text-decoration: none;font-size: 12px;" class="datetime">${vo.weibo.fTime?datetime}</span>
                </div>


                <p style="display:block;width:87%;height:auto;margin-top: 5px;float: right;
                          overflow:hidden; text-overflow:ellipsis;" class="weibo_content">${vo.weibo.content}</p>

                <div style="width:87%;height:auto;margin-top: 5px;float: right;" class="weibo_imgs">
                    <#list vo.imgs as weiboImg>
                        <img src="/weixinqing/img/${weiboImg}"
                             alt="..."
                             style="height:140px;width:140px;margin:2px;margin-right: 0px;margin-left: 0px;"
                             class="img-rounded">
                    </#list>
                </div>

                <#if vo.type == 7 || vo.type == 3>
            </div>
            </#if>

        </div>
        <ul class="op-ul"
            style="float: left;width: 100%;margin-bottom:0px;padding-bottom:0px;padding-left: 0px;">
            <li>
                <div style="text-align:center;" class="save">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="">收藏</span>
                </div>
            </li>
            <li>
                <div style="text-align:center;" class="share">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                    <span class="">131</span>
                </div>
            </li>
            <li>
                <div style="text-align:center;" class="comment">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"
                    ></span>
                    <span class="">579</span>
                </div>
            </li>
            <li>
                <div style="text-align:center;" class="up">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span class="">188</span>
                </div>
            </li>
        </ul>
</div>

</div>
</#list>
</div>



