<div id="weibosDiv">

    <#list vo as vos>
        <#if vo ? is_first>
            <input type="hidden" value="${vo.id ? c}" id="firstData">
        </#if>

        <#if vo ? is_last>
            <input type="hidden" value="${vo.id ? c}" id="lastData">
        </#if>


        <div class="panel panel-default weibo"
             style="width: 84%;height: auto;float: right;margin-left: 1%;">
            <div class="panel-body" style="margin-bottom: 0px;padding-bottom: 3px;">

                <!--UPVOTE(5)-->
                <#if type == 5>

                    <div style="float: left; width:100%;">
                    <span
                            style="margin-right: 6px;float: left;"
                            class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span style="float: left;">${user.username}赞过的微博</span>
                    </div>

                    <!--FORWARD(4)-->
                    <#elseif type == 4>
                        <div style="float: left; width:100%;">
                    <span
                            style="margin-right: 6px;float: left;"
                            class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span style="float: left;">${user.username}转发了微博</span>
                        </div>

                    </#elseif>
                    <!--FORWARD_COMMENTS(7)-->
                    <#elseif type == 7 || type == 3>

                        <div style="float: left;width: 13%;height: auto;">
                            <img src="/headimg/${user.id ? c}" alt="..." class="img-circle weiboHeadImg"
                                 style="width: 70px;height: 70px;">
                        </div>

                        <div style="float: right;width: 87%;">
                            <div style="float: left;width: 100%;">
                                <strong style="font-size: 15px;float: left;"
                                        class="username">${user.username}</strong>
                            </div>
                            <span style="color: #808080;float: left; margin-top: 5px;
text-decoration: none;font-size: 12px;" class="datetime">${vo.f_time?datetime}</span>
                        </div>


                        <p style="display:block;width:87%;height:auto;margin-top: 5px;float: right;
                  overflow:hidden; text-overflow:ellipsis;" class="weibo_content">${vo.comments.content}</p>

                    </#elseif>
                </#if>


                <#if type == 7 || type == 3>
                    <div style="background-color: #f2f2f5">
                        <#else>
                            <div>
                </#if>


                <div style="float: left;width: 13%;height: auto;">
                    <img src="/headimg/${vo.weibo.masterId ? c}" alt="..." class="img-circle weiboHeadImg"
                         style="width: 70px;height: 70px;">
                </div>

                <div style="float: right;width: 87%;">
                    <div style="float: left;width: 100%;">
                        <strong style="font-size: 15px;float: left;"
                                class="username">${vo.user.username}</strong>
                    </div>
                    <span style="color: #808080;float: left; margin-top: 5px;
text-decoration: none;font-size: 12px;" class="datetime">${vo.weibo.fTime?datetime}</span>
                </div>


                <p style="display:block;width:87%;height:auto;margin-top: 5px;float: right;
                  overflow:hidden; text-overflow:ellipsis;" class="weibo_content">${weibo.weibo.content}</p>

                <div style="width:87%;height:auto;margin-top: 5px;float: right;" class="weibo_imgs">
                    <#list vo.imgs as weiboImg>
                        <img src="/weixinqing/img/${weiboImg}"
                             alt="..."
                             style="height:140px;width:140px;margin:2px;margin-right: 0px;margin-left: 0px;"
                             class="img-rounded">
                    </#list>
                </div>

            </div>

            <ul class="op-ul"
                style="float: left;width: 100%;margin-bottom:0px;padding-bottom:0px;padding-left: 0px;">
                <li>
                    <div style="text-align:center;" class="save">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="">收藏</span>
                    </div>
                </li>
                <li>
                    <div style="text-align:center;" class="share">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        <span class="">131</span>
                    </div>
                </li>
                <li>
                    <div style="text-align:center;" class="comment">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"
                    ></span>
                        <span class="">579</span>
                    </div>
                </li>
                <li>
                    <div style="text-align:center;" class="up">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="">188</span>
                    </div>
                </li>
            </ul>

        </div>

</div>


</#list>
<div id="addContentFlagEnd" style="display: none;"></div>
</div>


<div class="panel panel-default" id="weixinqing_loading_end"
     style="width: 84%;float: right;display: none;">
    <div class="panel-body" align="center">
            <span class="glyphicon glyphicon-refresh" id="msg-loading-icon"
                  style="margin-left: 15px;font-size: 17px;margin-top: 6px;"
                  aria-hidden="true">
            </span>
        <span style="margin-left: 8px;margin-bottom: 10px;"
              id="content-loading-advice">微心情加载中，请您稍后...</span>
    </div>
</div>



