<nav class="navbar navbar-default" style="display: block; position:relative;position:fixed;width:850px;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="margin-left: 8px;">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">微心情</a>
            <!--<span class="navbar-brand" style="font-size: 13px;padding-top: 17px;">我们的心灵之家</span>-->
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="margin-left:8px;">

            <!--<ul class="nav navbar-nav">-->
            <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->

                <form class="navbar-form navbar-left" style="margin-left: 9px;" id="searchForm"
                      method="get" action="/search">
                    <div class="form-group search-div">
                        <input type="text" class="form-control search-submit-content" name="keyword"
                               maxlength="20" placeholder="大家都在搜：五斤小龙虾被人活活生吃"
                        <#if keyword??>value="${keyword}"</#if>      style="width: 300px;font-size: 16px">
                    </div>
                    <!--<button type="submit" class="btn btn-default">Submit</button>-->
                </form>
                <span style="font-size: 21px;margin-left:0px; margin-top: 15px; float: left;"
                      class="glyphicon glyphicon-search search-submit" aria-hidden="true">
                    </span>


            <!--<span style="font-size: 21px;margin-left:75px; margin-top: 15px;float: left;"-->
            <!--class="glyphicon glyphicon-user user-center" aria-hidden="true">-->
            <!--</span>-->


            <ul class="nav ulnav" style="margin-left: 140px;float: left;margin-top: 6px;">
                <li>
                    <a href="javascript:;" class="get-msg"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true">
                        <!--<span>hello</span>-->
                        <span class="glyphicon glyphicon-envelope noMsg"
                              aria-hidden="true" style="font-size: 21px;">
                        </span>
                    </a>

                    <ul class="dropdown-menu msg-ul1 unlogin-msg" style="display: none;">
                        <li style="float: left;width: 175px;">
                            <span style="margin-left: 15px;">请您<a href="/login" class="loginToViewInfo"
                                                                  style="color: #DF7E8D;cursor: pointer;">登录</a><span>后再查看信息</span></span>
                        </li>
                    </ul>


                    <ul class="dropdown-menu msg-ul2 msg-loading" style="display: none;">
                        <li style="float: left;width: 185px;">
                            <span class="glyphicon glyphicon-refresh" id="msg-loading-icon"
                                  style="margin-left: 15px;font-size: 17px;margin-top: 6px;"
                                  aria-hidden="true"></span>
                            消息加载中，请稍候...
                        </li>
                    </ul>


                    <ul class="dropdown-menu msg-failed" style="display: none;">
                        <li style="float: left;width: 245px;">
                            <span class="glyphicon glyphicon-exclamation-sign" style="margin-left: 15px;"
                                  aria-hidden="true"></span>
                            消息加载失败，请稍候重试！
                        </li>
                    </ul>


                    <ul class="dropdown-menu msg-ul3 msg-ul" style="display: none;">
                        <!--<li><a href="#" class="dropdown-menu-a">@我的-->
                        <!--<span class="label label-default msg-number" id="atmeNumber"-->
                        <!--style="margin-left: 55px;">999+</span></a></li>-->
                        <!--<li><a href="#" class="dropdown-menu-a">评论-->
                        <!--<span class="label label-default msg-number" id="commentNumber"-->
                        <!--style="margin-left: 69px;">8</span></a></li>-->
                        <!--<li><a href="#" class="dropdown-menu-a">赞-->
                        <!--<span class="label label-default msg-number" id="assistNumber"-->
                        <!--style="margin-left: 84px;">7</span></a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="/user/msg/detail/1" class="dropdown-menu-a">私信
                            <span class="label label-default msg-number" id="privatemsgNumber"
                                  style="margin-left: 69px;">6</span></a></li>
                        <li><a href="/user/advice/detail/1" class="dropdown-menu-a">通知
                            <span class="label label-default msg-number" id="unfocusNumber"
                                  style="margin-left: 69px;">19</span></a>
                        </li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav" style="">
                <#if user??>
                    <li><a href="/user/home/${user.id ? c}">${user.username}</a></li>
                    <#else>
                        <li><a href="/login">登录 / 注册</a></li>
                </#if>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"-->
                <!--role="button" aria-haspopup="true"-->
                <!--aria-expanded="false">登录 / 注册<span class="caret"></span></a>-->
                <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown"&ndash;&gt;-->
                <!--&lt;!&ndash;role="button" aria-haspopup="true"&ndash;&gt;-->
                <!--&lt;!&ndash;aria-expanded="false">mymilkbottles<span class="caret"></span></a>&ndash;&gt;-->
                <!--<ul class="dropdown-menu" style="">-->
                <!--<li><a href="#">个人中心</a></li>-->
                <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                        <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">帐号设置</a></li>-->
                <!--<li><a href="#">帐号安全</a></li>-->
                <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#"></a></li>&ndash;&gt;-->
                <!--</ul>-->
                <!--</li>-->
            </ul>


            <#if user??>
                <ul class="nav  ulnav" style="float: left;">
                    <li class="dropdown">
                        <a href="#" class="" data-toggle="dropdown"
                           role="button" aria-haspopup="true"
                           aria-expanded="false">
                        <span style="font-size: 21px;margin-left:0px; margin-top:6px; float: left;"
                              class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu" style="margin-top: 25px;">
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </#if>


        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>


<script>

    function borderColorChange() {
        $('.search-submit-content').css('border-color', 'red');
        console.log('red');
        setTimeout(function () {
            $('.search-submit-content').css('border-color', '');
            console.log('normal');
        }, 200);
    }

    $('.search-submit').click(function () {
        var content = $('.search-submit-content').val();
        if (content == null || content == undefined || content.length < 1) {
            var flag=self.setInterval("borderColorChange()", 350);
            setTimeout(function () {
                window.clearInterval(flag);
                console.log('clear');
            }, 2000);
            return false;
        }
        $('#searchForm').submit();
        return true;
    });
</script>