<div id="weibosDiv">

    <#list vos as vo>

        <div class="panel panel-default weibo weibo${vo.user.id ? c }"
             style="width: 84%;height: auto;float: right;margin-left: 1%;">
            <div class="panel-body" style="margin-bottom: 0px;padding-bottom: 3px;">

                <div style="float: left;width: 13%;height: auto;">
                    <a href="/user/home/${vo.user.id ? c }">
                        <img src="/headimg/${vo.user.id ? c }" alt="..." class="img-circle weiboHeadImg"
                                                                  style="width: 70px;height: 70px;"></a>
                </div>

                <div style="float: right;width: 87%;margin: 0px;padding: 0px;">
                    <div style="float: left;width: 100%;">
                        <a href="/user/home/${vo.user.id ? c }"><strong style="font-size: 15px;float: left;"
                                   class="username">
                            ${vo.user.username}</strong></a>
                    </div>
                    <span style="color: #808080;float: left; margin-top: 5px;
        text-decoration: none;font-size: 12px;" class="datetime">${vo.weibo.fTime?datetime}</span>
                </div>

                <p style="display:block;width:87%;height:auto;margin-top: 5px;float: right;
                          overflow:hidden; text-overflow:ellipsis;" class="weibo_content">${vo.weibo.content}</p>

                <div style="width:87%;height:auto;margin-top: 5px;float: right;" class="weibo_imgs">
                    <#list vo.imgs as weiboImg>
                        <div style="height:140px;width:140px;margin:2px;margin-right: 0px;margin-left: 0px;">
                            <img src="/img/${weiboImg}"
                                 alt="..."
                                 style="
                              max-width: 100%;max-height: 100%;"
                                 class="img-rounded">
                        </div>

                    </#list>
                </div>
            </div>


            <style>
                ul li {
                    border: none;
                }

                * {
                    outline: none;
                }

                .op-ul li {
                    margin-top: 4px;
                }

                .op-ul li div:hover, .op-ul li div:focus {
                    cursor: pointer;
                }

                .btn {
                    vertical-align: baseline;
                    padding: 0;
                }

                .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
                    outline: none;
                    outline-offset: 0;
                }

                .btn.active, .btn:active {
                    background-image: none;
                    outline: 0;
                    -webkit-box-shadow: none;
                }

                input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
                    background: none;
                }

                popover {
                    z-index: 99999;
                }

                a, a:hover, a:visited, a:active {
                    text-decoration: none;
                }

                .upd {
                    color: #eb7350;
                }
            </style>
            <ul class="op-ul"
                style="float: left;width:100%;margin-bottom:0px;padding-bottom:0px;padding-left: 0px;padding-top:7px;">
                <li>
                    <div style="text-align:center;" tabindex="1" class="save star user_action_advice"
                         weiboid="${vo.weibo.id ? c}">

                        <button tabindex="2"
                                class="btn starAdvice${vo.weibo.id ? c} "
                                data-placement="bottom"
                                data-toggle="popover"
                                data-container="body"
                                data-trigger="manual" data-html="true"
                                data-content="收藏成功！">
                            <#if vo.coll>
                            <span class="glyphicon glyphicon-star starspan${vo.weibo.id ? c} colld" aria-hidden="true"
                                  weiboid="${vo.weibo.id ? c}"></span>
                                <#else>
                                <span class="glyphicon glyphicon-star-empty starspan${vo.weibo.id ? c}"
                                      aria-hidden="true" weiboid="${vo.weibo.id ? c}"></span>
                            </#if>
                        </button>

                        <span class="collchar${vo.weibo.id ? c}">
                    <#if vo.coll>
                        已收藏
                        <#else>收藏
                    </#if>
                    </span>
                    </div>
                </li>
                <li>
                    <div style="text-align:center;" tabindex="7" class="share user_action_advice"
                         weiboid="${vo.weibo.id ? c}" uname="${vo.user.username}">

                        <input type="hidden" value='<div style="height: auto;width: 250px;padding-bottom:5px;">
                    <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;float:left;margin-bottom:5px;">转发${vo.user.username}的微心情</span>
    <a aria-hidden="true" class="trClose"  href="javascript:void(0)" onclick="trCloseA(${vo.weibo.id ? c})" weiboid="${vo.weibo.id ? c}" style="float:right;font-size: 18px;padding-top:0px;margin-top:-10px;cursor:pointer;
    color: #696e78; -webkit-font-smoothing: antialiased;font-family: wbficonregular !important;">&times;</a>
        <textarea cols="10" rows="4" id="trCommText${vo.weibo.id ? c}"
    style="resize:none;float: left;width: 250px;height: auto;border: 1px solid #eb7350;margin-bottom:5px;" maxlength="140" placeholder="请输入您想说的话"></textarea>
        <div style="float: left;margin-top:5px;margin-bottom:10px;">
        <input type="checkbox" id="hasComm${vo.weibo.id ? c}" aria-label="..." style="vertical-align:middle;float: left;height:14px;width:14px;">
        <span style="padding-top:2px;margin-left:3px;float: left;font: 12px/1.3 Arial,Microsoft YaHei;vertical-align:middle;"
        id="trCommUname">同时评论给 ${vo.user.username}</span>
        </div>

        <button  weiboid="${vo.weibo.id ? c}" style="float:right;height:27px;width:65px;margin-bottom:7px;"
                            class="btn transSubmit${vo.weibo.id ? c}"
                            data-container="body" tabindex="3"
                            data-toggle="popover" data-placement="bottom"
                            data-trigger="manual" data-html="true"
                            data-content="">
                    <a class="submit-text transmitComm"  onclick="submitTr(${vo.weibo.id ? c})"
                     style="text-align:center;margin-top:0px;width: 60px;padding-top:2px;
    height: 24px;font: 13px/1.3 Arial,Microsoft YaHei;"
        ><span style="margin-top:1px;">转发</span></a>

                    </button>
        </div>'
                               id="trContent${vo.weibo.id ? c}">


                        <button weiboid="${vo.weibo.id ? c}" style="z-index: 9999"
                                class="btn trAdvice${vo.weibo.id ? c}"
                                data-container="body" tabindex="3"
                                data-toggle="popover" data-placement="bottom"
                                data-trigger="manual" data-html="true"
                                data-content=''>
                            <#if vo.trd?? && vo.trd>
                            <span class="glyphicon glyphicon-share transmit trspan${vo.weibo.id ? c} trd"
                                  aria-hidden="true"
                                  weiboid="${vo.weibo.id ? c}"></span>
                                <#else>
                                <span class="glyphicon glyphicon-share transmit trspan${vo.weibo.id ? c}"
                                      aria-hidden="true"
                                      weiboid="${vo.weibo.id ? c}"></span>
                            </#if>

                        </button>


                        <span class="trsCount${vo.weibo.id ? c}">${vo.trs ? c}</span>
                    </div>
                </li>
                <li>
                    <!-- href="/comment/detail/${vo.weibo.id ? c}" -->
                    <a  href="javascript:;" target="_blank">
                        <div style="text-align:center;" class="comm" weiboid="${vo.weibo.id ? c}">


                        <span class="glyphicon glyphicon-comment" aria-hidden="true" weiboid="${vo.weibo.id ? c}"
                        ></span>

                            <span class="commCntSpan${vo.weibo.id ? c}">${vo.comms ? c}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <div style="text-align:center;" tabindex="10" class="up user_action_advice"
                         weiboid="${vo.weibo.id ? c}">

                        <button weiboid="${vo.weibo.id ? c}" tabindex="11"
                                class="btn upAdvice${vo.weibo.id ? c} "
                                data-placement="bottom"
                                data-trigger="manual" data-container="body"
                                data-content="">

                            <#if vo.upd>
                            <span class="glyphicon glyphicon-thumbs-up upd upspan${vo.weibo.id ? c}" aria-hidden="true"
                                  weiboid="${vo.weibo.id ? c}"/>
                                <#else>
                                <span class="glyphicon glyphicon-thumbs-up upspan${vo.weibo.id ? c}" aria-hidden="true"
                                      weiboid="${vo.weibo.id ? c}"/>
                            </#if>
                        </button>


                        <span class="upCount${vo.weibo.id ? c}" weiboid="${vo.weibo.id ? c}">${vo.ups ? c}</span>
                    </div>
                </li>
            </ul>

            <input type="hidden" id="unameHid${vo.weibo.id ? c}" value="${vo.user.username}">
        </div>

    </#list>
        </#if>
        <div id="addContentFlagEnd" style="display: none;"></div>

        <div class="panel panel-default" id="weixinqing_loading_end"
             style="width: 84%;float: right;display: none;">
            <div class="panel-body" align="center">
            <span class="glyphicon glyphicon-refresh" id="msg-loading-icon"
                  style="margin-left: 15px;font-size: 17px;margin-top: 6px;"
                  aria-hidden="true">
            </span>
                <span style="margin-left: 8px;margin-bottom: 10px;"
                      id="content-loading-advice">微心情加载中，请您稍后...</span>
            </div>
        </div>
</div>





<script>

    $('.weibo').click(function () {

    });

    function loading_news() {
        isLoadingNews = true;
        $.ajax({
            type: "post",
            url: '/index/news/' + $('#lastDataId').val(),
            success: function (data) {

                for (var i = 0; i < data.length; ++i) {

                    var weiboDivObj = jQuery.extend(true, {}, $('.weibo:first'));

                    console.log('weiboDivObj = ');
                    console.log(weiboDivObj);
                    var weiboDiv = $(weiboDivObj[0].outerHTML);


                    console.log('weiboDiv = ');
                    console.log(weiboDiv);

                    var weibo_i_vo = data[i];
                    var weibo_i = weibo_i_vo.vo;

                    weiboDiv.find('.weiboHeadImg').attr('src', '/headimg/' + weibo_i.user.id);
                    weiboDiv.find('.username').html(weibo_i.user.username);
                    weiboDiv.find('.datetime').html(new Date(weibo_i.weibo.fTime).pattern("yyyy-MM-dd hh:mm:ss"));
                    weiboDiv.find('.weibo_content').html(weibo_i.weibo.content)

                    var imgs = weibo_i.imgs;

                    var imgsHtml = '';
                    for (var j = 0; j < imgs.length; ++j) {
                        var addImg = '<img src="/img/' + imgs[j] + '" ' +
                            'style="height:140px;width:140px;margin:2px;margin-right: 0px;margin-left: 0px;" ' +
                            'class="img-rounded">';
                        imgsHtml = imgsHtml + addImg;
                    }
                    weiboDiv.find('.weibo_imgs').html(imgsHtml);

                    console.log('weiboDiv = ');
                    console.log(weiboDiv);

                    console.log(weiboDiv[0].outerHTML)
                    console.log('weiboDiv.find(.op-ul) = ');
                    console.log(weiboDiv.find('.op-ul'));

                    var weiboIdOld = weiboDiv.find('.op-ul').find('.save').attr('weiboid');

                    console.log(weiboIdOld);

                    console.log('ul[0].outerHTML = ');
                    console.log(weiboDiv.find('.op-ul'));
                    console.log($(weiboDiv.find('.op-ul')[0]));

                    $('#lastDataId').val(Math.min(parseInt($('#lastDataId').val()), weibo_i.weibo.id));
                    console.log('replace = ' + weiboIdOld + " " + weibo_i.weibo.id.toString());
                    var weiboIdOldStr = weiboIdOld.toString();

                    console.log('weiboDiv mid = ');
                    console.log(weiboDiv);
                    var ulHtml = weiboDiv[0].outerHTML;

                    var re = new RegExp(weiboIdOldStr, "g");


                    var weiboId = weibo_i.weibo.id;
                    weiboDiv[0].innerHTML = weiboDiv[0].innerHTML.replace(re, weiboId.toString());

                    var oldName = $('#unameHid' + weiboIdOld).val();
                    re = new RegExp(oldName, "g");

                    console.log('replace = ' + oldName + " " + weibo_i.user.username);
                    weiboDiv[0].innerHTML = weiboDiv[0].innerHTML.replace(re, weibo_i.user.username);


                    console.log('weibo_i.coll = ' + weibo_i.coll);

                    if (weibo_i.coll) {
                        weiboDiv.find('.starspan' + weiboId).addClass('glyphicon-star');
                        weiboDiv.find('.starspan' + weiboId).addClass('colld');
                        weiboDiv.find('.starspan' + weiboId).removeClass('glyphicon-star-empty');
                    } else {
                        console.log(weiboDiv.find('.starspan' + weiboId));
                        console.log(weiboDiv.find('.starspan' + weiboId).hasClass('glyphicon-star-empty'));
                        weiboDiv.find('.starspan' + weiboId).addClass('glyphicon-star-empty');
                        weiboDiv.find('.starspan' + weiboId).removeClass('glyphicon-star');
                        weiboDiv.find('.starspan' + weiboId).removeClass('colld');
                        console.log(weiboDiv.find('.starspan' + weiboId).hasClass('glyphicon-star-empty'));
                    }

                    weiboDiv.find('.collchar' + weiboId).html(weibo_i.coll ? '已收藏' : '收藏');

                    if (weibo_i.upd) {
                        weiboDiv.find('.upspan' + weiboId).addClass('upd');
                    } else {
                        weiboDiv.find('.upspan' + weiboId).removeClass('upd');
                    }

                    if (weibo_i.trd) {
                        weiboDiv.find('.trspan' + weiboId).addClass('trd');
                    } else {
                        weiboDiv.find('.trspan' + weiboId).removeClass('trd');
                    }

                    weiboDiv.find('.commCntSpan' + weiboId).html(weibo_i.comms);
                    weiboDiv.find('.upCount' + weiboId).html(weibo_i.ups);
                    weiboDiv.find('.trsCount' + weiboId).html(weibo_i.trs);


                    console.log('weiboDiv = ');
                    console.log(weiboDiv);

                    console.log('weiboDiv[0].outerHTML last = ');
                    console.log(weiboDiv[0].outerHTML);
                    weiboDivObj.context.outerHTML = weiboDiv[0].outerHTML;
                    $($(weiboDiv[0].outerHTML)).insertBefore('#addContentFlagEnd');

                    bindEvent();
                }
                console.log('loading_news finish');
                isLoadingNews = false;
                $('#weixinqing_loading_end').hide();
            },
            error: function () {
                $('#content-loading-advice').text('微心情加载失败，请检查您的网络！');
                isLoadingNews = false;
            }
        });
    }

    var isLoadingNews = false;

    var lastLoadTime = 0;
    $(window).scroll(function () {
        var isSearch = $('#isSearch').val();
        if (isSearch != undefined && isSearch != null) {
            return;
        }
//        console.log($(this).scrollTop() >= $(document).height() - $(window).height());
        if ($(this).scrollTop() >= $(document).height() - $(window).height()) {
            $('#content-loading-advice').text('微心情加载中，请您稍后...');
            $('#weixinqing_loading_end').show();
//            console.log('isLoadingNews = ' + isLoadingNews);
            if (!isLoadingNews) {
                loading_news();
//                var nowTime = new Date().getTime();
//                var tempLastLoadTime = lastLoadTime;
//                if (nowTime - tempLastLoadTime >= 3000) {
//                    lastLoadTime = nowTime;
//                    loading_news();
//                }
            }
        }
    });

    /** * 对Date的扩展，将 Date 转化为指定格式的String * 月(M)、日(d)、12小时(h)、24小时(H)、分(m)、秒(s)、周(E)、季度(q)
     可以用 1-2 个占位符 * 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字) * eg: * (new
     Date()).pattern("yyyy-MM-dd hh:mm:ss.S")==> 2006-07-02 08:09:04.423
     * (new Date()).pattern("yyyy-MM-dd E HH:mm:ss") ==> 2009-03-10 二 20:09:04
     * (new Date()).pattern("yyyy-MM-dd EE hh:mm:ss") ==> 2009-03-10 周二 08:09:04
     * (new Date()).pattern("yyyy-MM-dd EEE hh:mm:ss") ==> 2009-03-10 星期二 08:09:04
     * (new Date()).pattern("yyyy-M-d h:m:s.S") ==> 2006-7-2 8:9:4.18
     */
    Date.prototype.pattern = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        var week = {
            "0": "/u65e5",
            "1": "/u4e00",
            "2": "/u4e8c",
            "3": "/u4e09",
            "4": "/u56db",
            "5": "/u4e94",
            "6": "/u516d"
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        if (/(E+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }

    function trCloseA(num) {
        $(".trAdvice" + num).popover("hide");
        $('.transSubmit' + num).popover('hide');
    }


    function uuid() {
        return (Math.floor(Math.random() * 1200000000)).toString(16) + "" + (Math.floor(Math.random() * 1200000000)).toString(16);
    }

    //    $('.trClose').click(function () {
    //        console.log('tr close');
    //        var weiboId = $(this).attr('weiboid');
    //        $(".trAdvice" + weiboId).popover("hide");
    //
    //        console.log('transSubmit close' + weiboId);
    //
    //    });

    function submitTr(weiboId) {
        console.log('transmitComm' + weiboId);

        var content = "";
        console.log($("#hasComm" + weiboId));
        console.log($("#hasComm" + weiboId).is(':checked'));
        if ($("#hasComm" + weiboId).is(':checked')) {
            content = $('#trCommText' + weiboId).val();
            if (content == null || content == undefined || content == '') {
                $('.transSubmit' + weiboId).attr('data-content', '要输入评论噢！');
                $('.transSubmit' + weiboId).popover('show');
                return;
            }
        }
        $.ajax({
            type: "post",
            url: "/user/transmit/" + weiboId,
            data: {
                "comment": content
            },
            success: function (datas) {
                if (datas.indexOf('登录') != -1) {
                    $('.transSubmit' + weiboId).attr('data-content', '请登录后再操作！');
                    $('.transSubmit' + weiboId).popover('show');
                    return;
                }
                var data = JSON.parse(datas);
                console.log(data);
                console.log(data.code);
                console.log(data.msg);

                if (data.code == 200) {
                    $('.transSubmit' + weiboId).attr('data-content', '转发成功！');
                    $('.trsCount' + weiboId).html(parseInt($('.trsCount' + weiboId).html()) + 1);
                    $('.trspan' + weiboId).toggleClass('trd');
                    setTimeout(function () {
                        $('.transSubmit' + weiboId).popover('hide');
                        $('.trAdvice' + weiboId).popover('hide');
                    }, 2000);
                } else if (data.code == 199) {
                    $('.transSubmit' + weiboId).attr('data-content', data.msg);
                } else if (data.code == 0) {
                    $('.transSubmit' + weiboId).attr('data-content', '转发失败，请您稍后重试！');
                }
                $('.transSubmit' + weiboId).popover('show');
            },
            error: function () {
                $('.transSubmit' + weiboId).attr('data-content', '转发失败，请您稍后重试！');
                $('.transSubmit' + weiboId).popover('show');
            }
        });
    }


    bindEvent();


    function bindEvent() {
        $('.user_action_advice').each(function () {
            $(this).unbind('click');
            $(this).bind('focusout', function () {
                var weiboId = $(this).attr('weiboid');

                $('.starAdvice' + weiboId).popover('hide');
                $('.transSubmit' + weiboId).popover('hide');

                console.log('.upAdvice' + weiboId);
                $('.upAdvice' + weiboId).popover('hide');
//              $('.trAdvice' + weiboId).popover('hide');
            });
        });


        $('.up').each(function () {
            $(this).unbind('click');
            $(this).bind('click', function () {
                var weiboId = $(this).attr('weiboid');
                $.ajax({
                    type: "post",
                    url: '/user/upvote/' + weiboId,
                    success: function (data) {
                        if (data.indexOf('登录') != -1) {
                            $('.upAdvice' + weiboId).attr('data-content', '请登录后再操作！');
                            $('.upAdvice' + weiboId).popover('show');
                            return;
                        }
                        console.log('upd = ' + $('.upspan').hasClass('upd'));
                        if ($('.upspan' + weiboId).hasClass('upd')) {
                            $('.upAdvice' + weiboId).attr('data-content', '取消成功！');
                            $('.upCount' + weiboId).html(parseInt($('.upCount' + weiboId).html()) - 1);
                        } else {
                            $('.upAdvice' + weiboId).attr('data-content', '点赞成功！');
                            $('.upCount' + weiboId).html(parseInt($('.upCount' + weiboId).html()) + 1);
                        }
                        $('.upspan' + weiboId).toggleClass('upd');
                        $('.upAdvice' + weiboId).popover('show');
                    },
                    error: function () {
                        $('.upAdvice' + weiboId).attr('data-content', '点赞失败，请您稍后重试！');
                        $('.upAdvice' + weiboId).popover('show');
                    }
                });
            });
        });


        $('.share').each(function () {
            $(this).unbind('click');
            $(this).bind('click', function () {
                console.log('share');
                var weiboId = $(this).attr('weiboid');
                $.ajax({
                    type: "post",
                    url: '/user/transmit/-1',
                    data: {
                        "comment": ''
                    },
                    success: function (data) {
                        if (data.indexOf('登录') != -1) {
                            $('.trAdvice' + weiboId).attr('data-content', '请登录后再操作！');
                            $('.trAdvice' + weiboId).popover('show');
                            return;
                        }
                        $('.trAdvice' + weiboId).attr('data-content', $('#trContent' + weiboId).val());
                        $('.trAdvice' + weiboId).popover('show');
                    },
                    error: function () {
                        $('.trAdvice' + weiboId).attr('data-content', '转发失败，请您稍后重试！');
                        $('.trAdvice' + weiboId).popover('show');
                    }
                });
            });
        });

        $('.comm').each(function () {
            $(this).unbind('click');
            $(this).bind('click', function () {

            });
        });

        $('.star').each(function () {
            $(this).unbind('click');
            $(this).bind('click', function () {
                var weiboId = $(this).attr('weiboid');
                $.ajax({
                    type: "post",
                    url: '/user/collection/' + weiboId,
                    success: function (data) {
                        if (data.indexOf('登录') != -1) {
                            $('.starAdvice' + weiboId).attr('data-content', '请登录后再操作！');
                            $('.starAdvice' + weiboId).popover('show');
                            return;
                        }
                        if ($(".starspan" + weiboId).hasClass('glyphicon-star')) {
                            $('.starAdvice' + weiboId).attr('data-content', '取消成功！');
                            $(".collchar" + weiboId).html('收藏');
                        } else {
                            $('.starAdvice' + weiboId).attr('data-content', '收藏成功！');
                            $(".collchar" + weiboId).html('已收藏');
                        }

                        $(".starspan" + weiboId).toggleClass('glyphicon-star');
                        $(".starspan" + weiboId).toggleClass('glyphicon-star-empty');
                        $(".starspan" + weiboId).toggleClass('colld');
//                $(".collchar" + weiboId).toggleClass('colld');


                        $('.starAdvice' + weiboId).popover('show');
                    },
                    error: function () {
                        $('.starAdvice' + weiboId).attr('data-content', '收藏失败，请您稍后重试！');
                        $('.starAdvice' + weiboId).popover('show');
                    }
                })
            });
        });
    }
</script>






