<ul class="nav nav-pills nav-stacked index-left-ul"
    style="width:127.5px;
            display: block; position: fixed;
            background-color: rgba(70,149,194,0.3);
            float: left;border-radius:5px;">

    <li role="presentation"><a href="/index">微心情</a></li>
    <li role="presentation"><a
        <#if vo??>
            href="/user/home/${vo.luser.id ? c}"
            <#else>
                href="/user/home/${v.luser.id ? c}"
        </#if>
        >
        <#if (v?? && v.self) || (vo?? && vo.self)>
            我的动态
            <#else>
                他的动态
        </#if>
    </a></li>
    <li role="presentation"><a
        <#if vo??>
            href="/user/focus/${vo.luser.id ? c}/1"
            <#else>
                href="/user/focus/${v.luser.id ? c}/1"
        </#if>
        >
        <#if (v?? && v.self) || (vo?? && vo.self)>
            我的关注
            <#else>
                他的关注
        </#if>
    </a></li>
    <li role="presentation"><a
        <#if vo??>
            href="/user/follow/${vo.luser.id ? c}/1"
            <#else>
                href="/user/follow/${v.luser.id ? c}/1"
        </#if>
        >
        <#if (v?? && v.self) || (vo?? && vo.self)>
            我的粉丝
            <#else>
                他的粉丝
        </#if>
    </a></li>
    <#if (v?? && v.self) || (vo?? && vo.self)>
        <li role="presentation"><a href="/user/msg/detail/1">
            我的私信
    </a></li>
    </#if>
    <#if (v?? && v.self) || (vo?? && vo.self)>
        <li role="presentation"><a href="/user/advice/detail/1">
            我的通知
    </a></li>
    </#if>
</ul>